{# Title, url #}
<a href="{{ url }}">{{ label }}</a>

{# Various metadata #}
{% if display_submitted %}
  {{ author_picture }}
  {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
  {{ metadata }}
{% endif %}

{# Primary node content #}
{{ content }}